@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--overPass);
}

:root {
  /* Font Family  */
  --overPass: 'Overpass', sans-serif;
  /* Primary */
  --orange: hsl(25, 97%, 53%);
  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --lightGrey: hsl(217, 12%, 63%);
  --mediumGrey: hsl(216, 12%, 54%);
  --darkBlue: hsl(213, 20%, 18%);
  --veryDarkBlue: hsl(216, 12%, 8%);
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--veryDarkBlue);
}
section .main-cont,
section .comfirm-cont {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 400px;
  justify-content: space-evenly;
  background-color: var(--darkBlue);
  border-radius: 30px;
  padding: 0 30px;
  transition: all ease-in-out 0.35s;
}
section .main-cont.active {
  opacity: 0;
}
section .main-cont .star-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: var(--mediumGrey);
  border-radius: 50%;
}

.bld-txt {
  font-size: 28px;
  color: var(--white);
}

.commt {
  color: var(--lightGrey);
  font-size: 15px;
  line-height: 25px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
}

form .rat_cont {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.rat_cont input {
  display: none;
}

.rat_cont label {
  color: var(--lightGrey);
  width: 50px;
  height: 50px;
  background-color: #2d333d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all ease-in-out 0.35s;
}
.rat_cont label:hover,
.rat_cont label:hover h1 {
  background-color: var(--orange);
  color: var(--white);
}

.radio_input:checked + .radio_label {
  color: var(--white);
  background: var(--lightGrey);
}

form button {
  background-color: var(--orange);
  height: 40px;
  border-radius: 50px;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 400;
  letter-spacing: 3px;
  transition: all ease-in-out 0.35s;
}
form button:hover {
  background-color: var(--white);
  color: var(--orange);
}

section .comfirm-cont {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-590px) scale(0.1);
  opacity: 0;
}
section .comfirm-cont.active {
  animation-name: thankspop;
  animation-timing-function: ease-in-out;
  animation-duration: 0.35s;
}

@keyframes thankspop {
  from {
    opacity: 0;
    transform: translateY(-590px) scale(0.1);
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
.comfirm-cont > * {
  margin-bottom: 15px;
  text-align: center;
}

.comfirm-cont .seltype {
  width: 190px;
  height: 30px;
  background-color: hsl(216, 21%, 25%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.seltype h4 {
  color: var(--orange);
  font-size: 15px;
  font-weight: 400;
}
